@model IEnumerable<DATNwebtintuc.Models.ModelEntity.Series>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_AdminLTE3.cshtml";

}
<a href="/Series/Index" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-long-arrow-left"></i></a>

<div class="container mt-3">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên Series</th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.seriesName</td>

                    <td>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

